<div class="container">
  <div class="branding-wrapper">
    <svg id="logo"></svg>
    <h4 id="sitetitle"></h4>
  </div>
  <h5 id="credits">Created using MongoDB <br> Express 4.17 <br> Angular 10 <br> Node.js 14.12</h5>
  <div class="wrapper">
    <h1 id="tagline-heading">Freshest Flops ever</h1>
    <p id="tagline-body">Tired of a well stuctured story? Bored of always perfect direction and dialouge. wanna just fool around and want something in background? we got you covered</p>
    <div class="searchbox">
      <form id="sb">
        <input type="text" name="sb-text" id="sb-text">
        <div id="sb-placeholder"><span><i class="fa fa-search"></i> Find the Flop</span></div>
        <button type="submit" id="sb-button">Search</button>
      </form>
    </div>
  </div>
  <div id="scroll-prompt">
    <h3>Check Out Currated Flops of the month!! Guarenteed to ruin your weekend!</h3>
  </div>
  <div class="social-plug">
    <p class="collapsible">Contact me to know more</p>
    <svg class="arrow"></svg>
    <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="www.github.com"><i class="fab fa-github"></i></a>
  </div>
</div>